.sidebar {
  text-align: right;
  background: #2f2f2f;
  position: sticky;
  font-size: 15px;
  padding-top: 45px;
  height: 100vh;
  overflow-y: auto;
  min-width: 180px;
  overflow-x: hidden;
  z-index: 10;
  direction: rtl;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: gray;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(161, 160, 160);
    border-radius: 5px;
  }

  .side-bar-toggle {
    position: absolute;
    right: 240px;
    transition: all 3s;
  }

  .side-bar-collapse {
    position: absolute;
    right: 25px;
    transition: all 3s;
  }

  .logo-container {
    display: flex;
    justify-content: space-between;
    padding-inline: 1.2rem;
    padding-block: 0.5rem;
    align-items: center;
    z-index: 2;
    .logo {
      margin: 0;
    }
  }

  .routes-container {
    width: 100%;
    .nav-title {
      padding: 0.5rem 1.25rem;
      display: flex;
      font-size: 14px;
      cursor: pointer;
      align-items: center;
      background-color: transparent;
      text-decoration: none;
      color: #8a9298;
      border-bottom: 1px solid #8a9298;
    }
    .icons {
      width: 15px;
      height: 15px;
    }
    .nav-link {
      position: relative;
      width: 100%;
      min-height: 56px;
      color: black;
      padding: 1rem 1.25rem;
      margin: 1rem;
      position: relative;
      direction: rtl;
    }

    .active {
      color: white;
    }
  }

  .routes-container:is(:last-child) {
    .nav-title {
      margin-top: 40px;
      color: #e06666 !important;
      border-bottom: none;
      padding: 0.5rem;
    }
  }
}
